/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/k8s/media-sync.prod.yaml
/ssh/media-sync
/ssh/media-sync.pub/k8s/datadog.prod.yaml
/k8s/blackbox.prod.yaml
/k8s/mediawiki.prod.yaml
